@{
    ViewBag.Title = "services";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Goldenlife Finance</title>
    <!-- mobile responsive meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/fncp-icon/style.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/Stroke-Gap-Icons-Webfont/style.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/animate.min.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/owl.carousel-2/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/owl.carousel-2/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
    <!-- main stylesheet-->
    <link rel="stylesheet" href="~/GoldenLifeFinacial/css/style.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/css/responsive.css">
</head>
<body>
    <header class="header">
        <div class="thm-container clearfix">
            <div class="logo pull-left"><a href="#" onclick="location.href='@Url.Action("index")'"><img src="~/GoldenLifeFinacial/images/logo.png" alt="Awesome Image"></a></div>
            <div class="header-right-info pull-right">
                <ul>
                    <li>
                        <div class="single-header-right-info">
                            <div class="icon-box"><i class="icon icon-Pointer"></i></div>
                            <div class="text-box">
                                <p>
                                    2600 Skymark Ave, Unit 9, Suite 104 <br>
                                    Mississauga, ON, L4W5B2
                                </p>
                            </div>
                        </div>
                    </li>
                   
                    <li>
                        <div class="single-header-right-info">
                            <div class="icon-box"><i class="icon icon-Timer"></i></div>
                            <div class="text-box">
                                <p>Mon - Fri 10:00am - 6:00pm<br>Sat : By Appointment Only</p>
                            </div>
                        </div>
                    </li>
					 <li>
                        <div class="single-header-right-info">
                            <div class="icon-box"><i class="icon icon-Phone2"></i></div>
                            <div class="text-box">
                                <p>Off: 905-602-5533 <br>Dir: 647-281-5304 <br> Fax: 905-602-8471</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <nav id="main-navigation-wrapper" class="navbar navbar-default finance-navbar">
        <div class="thm-container">
            <div class="navbar-header">
                <div class="logo-menu"><img src="~/GoldenLifeFinacial/images/new/logo-menu.png" alt=""></div>
                <button type="button" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="col-md-2 col-sm-2">
            </div>
            <div class="col-md-10 col-sm-">
                <div id="main-navigation" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" onclick="location.href='@Url.Action("index")'">Home</a></li>
                        <li>
                            <a href="#" onclick="location.href='@Url.Action("about")'">about us</a>
                        </li>
                        <li class="dropdown">
                            <a onclick="location.href='@Url.Action("services")'">Services</a>
                            <ul class="dropdown-submenu">
                                <li><a href="#" onclick="location.href='@Url.Action("tax_service")'">Tax Services</a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("life_insurance")'">Life Insurance</a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("financial")'">Financial Planning</a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("rrsp")'">RRSP</a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("resp")'">RESP</a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("tfsa")'">TFSA</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" onclick="location.href='@Url.Action("tax_center")'">Tax Center</a>
                        </li>
                        <li>
                            <a href="http://teammurria.com/" target="_blank">Real Estate</a>
                        </li>
                         <!--<li><a href="#" onclick="location.href='@Url.Action("appointment")'">Appointment</a></li>--->
                        <li><a href="#" onclick="location.href='@Url.Action("contact")'">contact us</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-md-1 col-sm-1">
            </div>
        </div>
    </nav>
    <section class="inner-banner">
        <div class="thm-container">
            <div class="page-title">
                <h3>services</h3>
                <p>Money Doesn’t Come Without Guidance...</p>
            </div>
        </div>
    </section>
    <div class="bread-cumb">
        <div class="thm-container">
            <ul class="list-inline">
                <li><a href="#" onclick="location.href='@Url.Action("index")'">Home</a></li>
                <li><span>Services</span></li>
            </ul>
        </div>
    </div>

    <section class="sec-pad service-page">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="img-holder"><a href="tax_service.html"><img src="~/GoldenLifeFinacial/images/project-v1-1.jpg" alt="Awesome Image"></a></div>
                        <h3><a href="#" onclick="location.href='@Url.Action("tax_service")'">Tax services</a></h3>
                        <p>Working hand in hand with our clients, we make certain that they are receiving the highest tax refunds for all their tax returns. We put our clients and their success first.</p>
                        <a href="#" onclick="location.href='@Url.Action("tax_service")'"  class="srvc_btn">read more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="img-holder"><a href="life_insurance.html"><img src="~/GoldenLifeFinacial/images/service-9.jpg" alt="Awesome Image"></a></div>
                        <h3><a href="#" onclick="location.href='@Url.Action("life_insurance")'">life insurance</a></h3>
                        <p>Life insurance is designed to protect your financial security and should be a key part of your overall financial plan. Depending on the type of insurance you purchase. </p>
                        <a href="#" onclick="location.href='@Url.Action("life_insurance")'"  class="srvc_btn">read more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="img-holder"><a href="financial.html"><img src="~/GoldenLifeFinacial/images/service-3.jpg" alt="Awesome Image"></a></div>
                        <h3><a href="#" onclick="location.href='@Url.Action("financial")'">financial planning</a></h3>
                        <p>Financial planning is more than budgeting, saving or having the perfect investment strategy. It  is a process that sets you on a course toward achievement of your goals.</p>
                        <a href="#" onclick="location.href='@Url.Action("financial")'"  class="srvc_btn">read more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="img-holder"><a href="busniess-loan.html"><img src="~/GoldenLifeFinacial/images/service-2.jpg" alt="Awesome Image"></a></div>
                        <h3><a href="#" onclick="location.href='@Url.Action("rrsp")'">rrsp</a></h3>
                        <p>An Registered Retirement Savings Plan (RRSP) is a retirement savings plan to which you or your spouse contribute. An RRSP is registered with the Canadian government.</p>
                        <a href="#" onclick="location.href='@Url.Action("rrsp")'"  class="srvc_btn">read more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="img-holder"><a href="insurance-consulting.html"><img src="~/GoldenLifeFinacial/images/service-8.jpg" alt="Awesome Image"></a></div>
                        <h3><a href="#" onclick="location.href='@Url.Action("resp")'">resp</a></h3>
                        <p>A Registered Education Savings Plan (RESP) is registered under the Income Tax Act and offers many benefits to families saving for their child's future education expenses.</p>
                        <a href="#" onclick="location.href='@Url.Action("resp")'"  class="srvc_btn">read more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-service">
                        <div class="img-holder"><a href="retirement-planning.html"><img src="~/GoldenLifeFinacial/images/project-v1-7.jpg" alt="Awesome Image"></a></div>
                        <h3><a href="#" onclick="location.href='@Url.Action("tfsa")'">tfsa</a></h3>
                        <p>A Tax-Free Savings Account (TFSA) is an account that grows tax free. You can hold a mix of investments and any investment income earned in a TFSA (including interest, capital gains..</p>
                        <a href="#" onclick="location.href='@Url.Action("tfsa")'"  class="srvc_btn">read more <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="footer-contacts">
        <div class="thm-container">
            <h2>We help you to make the best marketable strategy and execution</h2>

<a data-animation="animated fadeInLeft" href="#" onclick="location.href='@Url.Action("contact")'" class="thm-button">Contact us<i class="fa fa-arrow-right"></i></a>        </div>
    </section>
    <footer class="footer">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-widget about-widget">
                        <a href="#" onclick="location.href='@Url.Action("index")'"><img src="~/GoldenLifeFinacial/images/new/logo2.png" alt="Awesome Image"></a>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>-->
                        <div class="tel-box">
                            <div class="icon-box"><i class="fa fa-map-marker"></i></div>
                            <div class="text-box">
                                <p>2600 Skymark Ave, Unit 9, Suite 104 <br />Mississauga, ON, L4W5B2</p>
                            </div>
                        </div>
                        <div class="tel-box">
                            <div class="icon-box"><i class="fa fa-phone"></i></div>
                            <div class="text-box">
                                <p>Off: 905-602-5533  <br /> Dir: 647-281-5304</p>
                            </div>
                        </div>
                        <div class="tel-box">
                            <div class="icon-box"><i class="fa fa-envelope"></i></div>
                            <div class="text-box">
                                <p><a href="mailto:info@goldenlifesolutions.com">info@goldenlifesolutions.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer-widget links-widget links-widget-pac">
                        <div class="title">
                            <h2>Explore</h2>
                            <div class="decor-line"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <ul>
                                    <li><a href="#" onclick="location.href='@Url.Action("index")'">Home</a></li>
                                    <li><a href="#" onclick="location.href='@Url.Action("about")'">About Us</a></li>
                                    <li><a href="#" onclick="location.href='@Url.Action("services")'">Services</a></li>
                                    <li><a href="#" onclick="location.href='@Url.Action("contact")'">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <ul>
                                    <li><a href="#" onclick="location.href='@Url.Action("tax_center")'">Tax Center</a></li>
                                    <li><a href="http://teammurria.com/" target="_blank">Real Estate</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer-widget subscribe-widget">
                        <div class="title">
                            <h2>Updates and offers</h2>
                            <div class="decor-line"></div>
                        </div>
                        <form action="#">
                            <p>Get latest updates and offers.</p>
                            <div class="newsletter-widget">
                                <input type="text" id="Email" placeholder="Enter your email address">
                                <button type="button" onclick="GetLatestUpdates()" class="thm-button"><i class="fa fa-envelope"></i></button>
                            </div>
                        </form>
                        <ul class="social list-inline">
                            <li><a href="https://www.facebook.com/goldenlifefinancial/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            @*<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>*@
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="footer-bottom">
        <div class="thm-container clearfix">
            <div class="pull-left">
                <p>Copyright © Goldenlife Financial 2017. All rights reserved. </p>
            </div>
            <div class="pull-right">
                <p>Designed & Developed by: Only4Agents</p>
            </div>
        </div>
    </section>
    <!-- helper js-->
    <script src="~/GoldenLifeFinacial/plugins/jquery.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/owl.carousel-2/owl.carousel.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/jquery.mixitup.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/Chart.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/waypoints.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/jquery.counterup.min.js"></script>
    <script src="~/GoldenLifeFinacial/js/theme.js"></script>
</body>
</html>
<script>
    function GetLatestUpdates() {

        if (ValidateEmail()) {
            var person = {
                email: $("#Email").val(),
            }

            $('#target').html('sending..');

            $.ajax({
                url: '/GoldenLife/GetLatestUpdates',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    $('#target').html(data.msg);
                    $("#Email").val("");
                },
                data: person
            });
        }
        else {
            return false;
        }
    }
    function ValidateEmail() {
        //Email validation
        var Email = $("#Email").val();
        if (Email !== '') {
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            if (Email.length > 30) {
                alert('email length cannot exceed more than 30 characters.');
                $("#Email").addClass('validation_control');
                return false;
            } else if (!emailReg.test(Email)) {
                alert('please enter the valid email.');
                $("#Email").addClass('validation_control');
                return false;
            }
            else {
                $("#Email").removeClass('validation_control');
                return true;
            }
        }
        else {
            $("#Email").addClass('validation_control');
            alert('must enter emails.');
            return false;
        }

        //End
    }
</script>