@{
    ViewBag.Title = "tfsa";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Goldenlife Finance</title>
    <!-- mobile responsive meta-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/fncp-icon/style.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/Stroke-Gap-Icons-Webfont/style.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/animate.min.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/owl.carousel-2/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/owl.carousel-2/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
    <!-- main stylesheet-->
    <link rel="stylesheet" href="~/GoldenLifeFinacial/css/style.css">
    <link rel="stylesheet" href="~/GoldenLifeFinacial/css/responsive.css">
</head>
<body>
    <header class="header">
        <div class="thm-container clearfix">
            <div class="logo pull-left"><a href="#" onclick="location.href='@Url.Action("index")'"><img src="~/GoldenLifeFinacial/images/logo.png" alt="Awesome Image"></a></div>
            <div class="header-right-info pull-right">
                <ul>
                    <li>
                        <div class="single-header-right-info">
                            <div class="icon-box"><i class="icon icon-Pointer"></i></div>
                            <div class="text-box">
                                <p>
                                    2600 Skymark Ave, Unit 9, Suite 104 <br>
                                    Mississauga, ON, L4W5B2
                                </p>
                            </div>
                        </div>
                    </li>
                   
                    <li>
                        <div class="single-header-right-info">
                            <div class="icon-box"><i class="icon icon-Timer"></i></div>
                            <div class="text-box">
                                <p>Mon - Fri 10:00am - 6:00pm<br>Sat : By Appointment Only</p>
                            </div>
                        </div>
                    </li>
					 <li>
                        <div class="single-header-right-info">
                            <div class="icon-box"><i class="icon icon-Phone2"></i></div>
                            <div class="text-box">
                                <p>Off: 905-602-5533 <br>Dir: 647-281-5304 <br> Fax: 905-602-8471</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <nav id="main-navigation-wrapper" class="navbar navbar-default finance-navbar">
        <div class="thm-container">
            <div class="navbar-header">
                <div class="logo-menu"><img src="~/GoldenLifeFinacial/images/new/logo-menu.png" alt=""></div>
                <button type="button" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="col-md-2 col-sm-2">
            </div>
            <div class="col-md-10 col-sm-">
                <div id="main-navigation" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" onclick="location.href='@Url.Action("index")'">Home</a></li>
                        <li>
                            <a href="#" onclick="location.href='@Url.Action("about")'">about us</a>
                        </li>
                        <li class="dropdown">
                            <a onclick="location.href='@Url.Action("services")'">Services</a>
                            <ul class="dropdown-submenu">
                                <li><a href="#" onclick="location.href='@Url.Action("tax_service")'">Tax Services</a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("life_insurance")'">Life Insurance</a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("financial")'">Financial Planning</a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("rrsp")'">RRSP</a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("resp")'">RESP</a></li>
                                <li><a href="#" onclick="location.href='@Url.Action("tfsa")'">TFSA</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" onclick="location.href='@Url.Action("tax_center")'">Tax Center</a>
                        </li>
                        <li>
                            <a href="http://teammurria.com/" target="_blank">Real Estate</a>
                        </li>
                         <!--<li><a href="#" onclick="location.href='@Url.Action("appointment")'">Appointment</a></li>--->
                        <li><a href="#" onclick="location.href='@Url.Action("contact")'">contact us</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-md-1 col-sm-1">
            </div>
        </div>
    </nav>
    <section class="inner-banner">
        <div class="thm-container">
            <div class="page-title">
                <h3>TFSA</h3>
                <p>Money Doesn’t Come Without Guidance ...</p>
            </div>
        </div>
    </section>
    <div class="bread-cumb">
        <div class="thm-container">
            <ul class="list-inline">
                <li><a href="#" onclick="location.href='@Url.Action("index")'">Home</a></li>
                <li><a href="#" onclick="location.href='@Url.Action("services")'"><span>Services</span></a></li>
                <li><span>TFSA</span></li>
            </ul>
        </div>
    </div>
    <section class="page with-sidebar left blog-page sec-pad service-single-page">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-8">
                    <div class="left-box">
                        <div class="single-service-box">
                            <div class="img-box"><img src="~/GoldenLifeFinacial/images/single-service-6.png" alt="Awesome Image"></div>
                            <!-- /.img-box-->
                            <div class="sec-title">
                                <h2>What is a TFSA?</h2>
                                <div class="decor-line"></div>
                            </div>
                            <p>A Tax-Free Savings Account (TFSA) is an account that grows tax free. You can hold a mix of investments and any investment income
                             earned in a TFSA (including interest, capital gains and dividends) is not taxed, even when withdrawn. That means it’s 100% yours to keep.</p><span class="space-25"></span><span class="border"></span><span class="space-15"></span>
                            <div>

                                <h4>What are the benefits of a TFSA?</h4>
                                <h6>Some of the benefits of a TFSA are:</h6>
                                <ul class="list-box">
                                    <li>-  Tax-free growth - you can save your money tax free for any goal you want (car, home, vacation)</li>
                                    <li>-  Tax-free withdrawals - you can take money out when you want for any reason</li>
                                    <li>-  Contribute up to $5,500 a year</li>
                                    <li>-  You can re-contribute any amounts you withdraw the following year in addition to the annual maximum</li>
                                    <li>-  You can put money into your spouse’s or common-law partner’s account</li>
                                </ul>
                            </div>
                            <span class="space-25"></span><span class="border"></span><span class="space-15"></span>
                            <div>

                                <h4>Who is eligible for TFSA?</h4>
                                <h6>Most Canadians are eligible. To open a TFSA, you must:</h6>
                                <ul class="list-box">
                                    <li>-  have achieved the age of majority in your province or territory of residence (in Ontario, it is 18);</li>
                                    <li>-  be a Canadian resident; and</li>
                                    <li>-  have Canadian Social Insurance Number (SIN)</li>
                                </ul>
                            </div>
                            <span class="space-25"></span><span class="border"></span><span class="space-15"></span>
                            <div class="row">
                                <div>
                                    <div class="right-box">
                                        <h4>How do I open my TFSA today?</h4>
                                        <p>Your TFSA can be opened through Goldenlife Financial Solutions Inc.</p>
                                    </div>
                                    <!-- /.right-box-->
                                </div>
                                <!-- /.col-md-6-->
                            </div>
                            <span class="space-25"></span><span class="border"></span><span class="space-15"></span>
                            <div class="row">
                                <div>
                                    <div class="right-box">
                                        <h4>How much can I contribute to my TFSA?</h4>
                                        <p>The annual contribution limit from 2009 to 2012 was $5,000. The annual contribution 
                                        limit from 2013 to 2014 was $5,500. The annual contribution limit for 2015 was $10,000. The annual contribution limit from 2016 to 2017 is $5,500.</p>
                                        <p>You can also carry forward any unused contribution room from previous years.</p>
                                        <p>For example: If you were 18 or older in 2009, your total eligible contribution room in a TFSA (as of 2017) would be $52,000.</p>
                                    </div>
                                    <!-- /.right-box-->
                                </div>
                                <!-- /.col-md-6-->
                            </div>
                            <span class="space-25"></span><span class="border"></span><span class="space-15"></span>
                            <div class="row">
                                <div>
                                    <div class="right-box">
                                        <h4>When can I contribute to my TFSA?</h4>
                                        <p>You can make a contribution to your TFSA at any time. If you’re thinking of making a withdrawal closer to the end of the year, be sure to do
                                         it by December 31st to have that withdrawal amount added back to your contribution room the next year.</p>
                                    </div>
                                    <!-- /.right-box-->
                                </div>
                                <!-- /.col-md-6-->
                            </div>
                            <span class="space-25"></span><span class="border"></span><span class="space-15"></span>
                            <div class="row">
                                <div>
                                    <div class="right-box">
                                        <h4>What is the TFSA contribution deadline?</h4>
                                        <p>There is no deadline for contributions to a TFSA, and your unused contribution room is carried over indefinitely.</p>
                                    </div>
                                    <!-- /.right-box-->
                                </div>
                                <!-- /.col-md-6-->
                            </div>
                            <span class="space-25"></span><span class="border"></span><span class="space-15"></span>
                            <div>

                                <h4>What types of investments can I use?</h4>
                                <h6>This would include:</h6>
                                <ul class="list-box">
                                    <li>- cash;</li>
                                    <li>-  mutual funds;</li>
                                    <li>-  securities listed on a designated stock exchange;</li>
                                    <li>-  guaranteed investment certificates;</li>
                                    <li>-  bonds; and</li>
                                    <li>-  certain shares of small business corporations.</li>
                                </ul>
                            </div>
                            <span class="space-25"></span><span class="border"></span><span class="space-15"></span>
                            <div class="row">
                                <div>
                                    <div class="right-box">
                                        <h4>Are TFSA contributions tax-deductible?</h4>
                                        <p>No, contributions to a TFSA are not tax-deductible but the income generated in a TFSA and the withdrawals made from a TFSA are tax-free.</p>
                                    </div>
                                    <!-- /.right-box-->
                                </div>
                                <!-- /.col-md-6-->
                            </div>
                            <span class="space-25"></span><span class="space-15"></span>
                    </div>
                        <!-- /.single-service-box-->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="right-box">
                        <div class="single-sidebar-widget">
                            <div class="single-service-list-widget">
                                <ul>
                                    <li><a href="#" onclick="location.href='@Url.Action("tax_service")'">Tax Services</a></li>
                                    <li><a href="#" onclick="location.href='@Url.Action("life_insurance")'">Life Insurance</a></li>
                                    <li><a href="#" onclick="location.href='@Url.Action("financial")'">Financial Planning</a></li>
                                    <li><a href="#" onclick="location.href='@Url.Action("rrsp")'">RRSP</a></li>
                                    <li><a href="#" onclick="location.href='@Url.Action("resp")'">RESP</a></li>
                                    <li><a href="#" onclick="location.href='@Url.Action("tfsa")'">TFSA</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-sidebar-widget">
                            <div class="single-service-contact">
                                <div class="inn">
                                    <h3>Contact us</h3>
                                    <p>We are here to help you</p>
                                </div>
                                <a href="tel:905-602-5333">Office: 905 - 602 - 5533</a>
                                <a href="fax:905-602-84711">Fax: 905 - 602 - 8471 </a>
                                <a href="mailto:info@goldenlifesolutions.com">E-Mail: info@goldenlifesolutions.com</a>
                            </div>
                            <!-- /.single-service-contact-->
                        </div>
                        <!-- /.single-sidebar-widget-->
                        <!-- /.single-sidebar-widget-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-contacts">
        <div class="thm-container">
            <h2>We help you to make the best marketable strategy and execution</h2>
<a data-animation="animated fadeInLeft" href="#" onclick="location.href='@Url.Action("contact")'" class="thm-button">Contact us<i class="fa fa-arrow-right"></i></a>
        </div>
    </section>
    <footer class="footer">
        <div class="thm-container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-widget about-widget">
                        <a href="#" onclick="location.href='@Url.Action("index")'"><img src="~/GoldenLifeFinacial/images/new/logo2.png" alt="Awesome Image"></a>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>-->
                        <div class="tel-box">
                            <div class="icon-box"><i class="fa fa-map-marker"></i></div>
                            <div class="text-box">
                                <p>2600 Skymark Ave, Unit 9, Suite 104<br /> Mississauga, ON, L4W5B2</p>
                            </div>
                        </div>
                        <div class="tel-box">
                            <div class="icon-box"><i class="fa fa-phone"></i></div>
                            <div class="text-box">
                                <p>Off: 905-602-5533  <br /> Dir: 647-281-5304</p>
                            </div>
                        </div>
                        <div class="tel-box">
                            <div class="icon-box"><i class="fa fa-envelope"></i></div>
                            <div class="text-box">
                                <p><a href="mailto:info@goldenlifesolutions.com">info@goldenlifesolutions.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer-widget links-widget links-widget-pac">
                        <div class="title">
                            <h2>Explore</h2>
                            <div class="decor-line"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <ul>
                                    <li><a href="#" onclick="location.href='@Url.Action("index")'">Home</a></li>
                                    <li><a href="#" onclick="location.href='@Url.Action("about")'">About Us</a></li>
                                    <li><a href="#" onclick="location.href='@Url.Action("services")'">Services</a></li>
                                    <li><a href="#" onclick="location.href='@Url.Action("contact")'">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <ul>
                                    <li><a href="#" onclick="location.href='@Url.Action("tax_center")'">Tax Center</a></li>
                                    <li><a href="http://teammurria.com/" target="_blank">Real Estate</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="footer-widget subscribe-widget">
                        <div class="title">
                            <h2>Updates and offers</h2>
                            <div class="decor-line"></div>
                        </div>
                        <form action="#">
                            <p>Get latest updates and offers.</p>
                            <div class="newsletter-widget">
                                <input type="text" id="Email" placeholder="Enter your email address">
                                <button type="button" onclick="GetLatestUpdates()" class="thm-button"><i class="fa fa-envelope"></i></button>
                            </div>
                        </form>
                        <ul class="social list-inline">
                            <li><a href="https://www.facebook.com/goldenlifefinancial/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            @*<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>*@
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section class="footer-bottom">
        <div class="thm-container clearfix">
            <div class="pull-left">
                <p>Copyright © Goldenlife Financial 2017. All rights reserved. </p>
            </div>
            <div class="pull-right">
                <p>Designed & Developed by: Only4Agents</p>
            </div>
        </div>
    </section>
    <!-- helper js-->
    <script src="~/GoldenLifeFinacial/plugins/jquery.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/owl.carousel-2/owl.carousel.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/jquery.mixitup.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/Chart.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/waypoints.min.js"></script>
    <script src="~/GoldenLifeFinacial/plugins/jquery.counterup.min.js"></script>
    <script src="~/GoldenLifeFinacial/js/theme.js"></script>
</body>
</html>

<script>
    function GetLatestUpdates() {

        if (ValidateEmail()) {
            var person = {
                email: $("#Email").val(),
            }

            $('#target').html('sending..');

            $.ajax({
                url: '/GoldenLife/GetLatestUpdates',
                type: 'post',
                dataType: 'json',
                success: function (data) {
                    $('#target').html(data.msg);
                    $("#Email").val("");
                },
                data: person
            });
        }
        else {
            return false;
        }
    }
    function ValidateEmail() {
        //Email validation
        var Email = $("#Email").val();
        if (Email !== '') {
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            if (Email.length > 30) {
                alert('email length cannot exceed more than 30 characters.');
                $("#Email").addClass('validation_control');
                return false;
            } else if (!emailReg.test(Email)) {
                alert('please enter the valid email.');
                $("#Email").addClass('validation_control');
                return false;
            }
            else {
                $("#Email").removeClass('validation_control');
                return true;
            }
        }
        else {
            $("#Email").addClass('validation_control');
            alert('must enter emails.');
            return false;
        }

        //End
    }
</script>